body {
   overflow-x: hidden;
   color: #7b7b7b;
}

p {
   font-size: 18px;
}

p.small {
   font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
   outline: 0;
   color: #18bc9c;
}

h1,
h2,
h3,
h4,
h5,
h6 {   
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
}

hr {
   margin: 30px 0;
}

.navigation {
   position: static;   
   height: 90px;
}

.navbar {   
   background: transparent;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-weight: 700;
}

.navbar-brand span {
   color: #2F2F2F;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
   color: #fff;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
   background: none;
   color: #FF951F !important;
}

.navbar a:focus {
   outline: 0;
}

.navbar .navbar-nav {
   letter-spacing: 1px;
}

.navbar .navbar-nav li a:focus {
   outline: 0;
}

.navbar-default,
.navbar-inverse {
   border: 0;
}

.navbar-default .navbar-toggle {
   border-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
   background-color: #fff;
}

header {   
   background-color: #FF951F;
   text-align: center;
   color: #fff;
   height: 100vh;
   min-height: 740px;
}

header #home .container {
   padding-top: 250px;
   padding-bottom: 250px;
}

header .intro-text .name {
   display: inline;
   text-transform: uppercase;
   font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 2em;
   font-weight: 700;
   opacity: 0;
}

section .container{
   padding-top: 5%;
   padding-bottom: 5%;
}

section.orange {
   color: #fff;
   background: #FF951F;
}

section h3,
section hr,
section img,
section p,
section #contactForm {
   opacity: 0;
}

footer {
   background: #E58417;
   color: #fff;
   padding: 25px 0;
}

.text-center img {
   margin: 0 auto;
}

.btn-contact {
   color: #fff;
   background-color: #4C4B4B;
   border-color: #5F5F5F;   
}

.btn-contact:hover {
   color: #fff;
   background-color: #717171;
   border-color: #757575;   
}

.subtitle-underline {   
   height: 2px;   
   margin-top: 20px;
   margin-bottom: 40px;    
   position: relative;
   width: 60px;
}

.underline-align-center {
   margin-left: auto;
   margin-right: auto;
}

.underline-orange {
   background: #FF951F;
}

.underline-grey {
   background: #7b7b7b;
}

.modal-content {
  border-radius: 0;
}

.close {
   font-size: 80px;
   padding-right: 10px;
}

@media screen and (max-width: 767px) {

   .navbar-default.navbar-shrink .navbar-toggle {
      border-color: #2F2F2F;
   }

   .navbar-default.navbar-shrink .navbar-toggle .icon-bar {
      background-color: #2F2F2F;
   }

   .navbar-fixed-top {
      padding: 10px 0;
      -webkit-transition: padding .2s, background .2s;
      -moz-transition: padding .2s, background .2s;
      transition: padding .2s, background .2s;
   } 

   .navbar-fixed-top.navbar-shrink .navbar-brand,
   .navbar-default.navbar-shrink .navbar-nav>li>a{
      color: #2F2F2F;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      transition: color .2s;
   }

   .navbar-default.navbar-shrink .navbar-nav>li>a:hover,
   .navbar-default.navbar-shrink .navbar-nav>li>a:focus {
      color: #FF951F;
   }

   .navbar-fixed-top .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
   }

   .navbar-fixed-top.navbar-shrink {
      padding: 10px 0;
      background: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
   }

   .navbar-fixed-top.navbar-shrink .navbar-brand span {
      color: #FF951F;
   }

   .navbar-default .navbar-collapse,
   .navbar-default .navbar-toggle:focus,
   .navbar-default .navbar-toggle:hover {
      background-color: #EE8108;
   }

   .navbar-default.navbar-shrink .navbar-collapse,
   .navbar-default.navbar-shrink .navbar-toggle:focus,
   .navbar-default.navbar-shrink .navbar-toggle:hover {
      background-color: #fff;
   }
}

@media(min-width:768px) {   

   .navbar-fixed-top {
      padding: 20px 0;
      -webkit-transition: padding .2s, background .2s;
      -moz-transition: padding .2s, background .2s;
      transition: padding .2s, background .2s;
   } 

   .navbar-fixed-top.navbar-shrink .navbar-brand,
   .navbar-default.navbar-shrink .navbar-nav>li>a{
      color: #2F2F2F;
      -webkit-transition: color .2s;
      -moz-transition: color .2s;
      transition: color .2s;
   }

   .navbar-default.navbar-shrink .navbar-nav>li>a:hover,
   .navbar-default.navbar-shrink .navbar-nav>li>a:focus {
      color: #FF951F;
   }

   .navbar-fixed-top .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      transition: all .2s;
   }

   .navbar-fixed-top.navbar-shrink {
      padding: 15px 0;
      background: #fff;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
   }

   .navbar-fixed-top.navbar-shrink .navbar-brand span {
      color: #FF951F;
   }    

   header .intro-text .name {
      font-size: 4.65em;
   }

}

@media only screen and (max-width: 690px){
   header {
      height: auto;
      max-height: none;
      min-height: 100vh;      
   }

   header #home .container {
      padding-top: 160px;
      padding-bottom: 160px;
   }

}

@media only screen and (max-width: 840px){
   header {
      height: auto;
      max-height: 720px;
      min-height: 640px;
   }
}

@media only screen and (max-width: 1050px){
   header {
      max-height: 860px;
   }
}
